/* base.html */

body {
    background-image: url("img/tardis_splash.jpg");
    background-size: 100%;
    color: #c2e1ed;
}

.navbar-default {background-image: url("img/tardis_splash.jpg");
    background-size: 100%;
    color: #c2e1ed;
    background-color: #406aff;
    height: 50px;
    border: 0;
}

/* Can't change background color here, won't take, had to do it in individual navbar sub-div tags in the base template*/
.navbar-brand {
    font-size: 38px;
    font-family: "sans-serif";
    font-weight: bold;
    color: #0a0f27;
}

/* Can't change font color here, won't take, had to do it in individual <a> tags in the base template*/
li a {
    font-size: 20px;
    font-family: "sans-serif";
    font-weight: bold;
}

.headings {
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    font-family: "sans-serif";
    color: #a3bbe0;
}

#connections {
    font-size: 22px;
}


/* For carousel stuff */

.carousel {
    width: 75%;
    margin: auto;
}

.car-item {
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
}

.relative {
    position:relative;
    width:600px;
}

.absolute-text {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    font-family: "sans-serif";
    font-weight: bold;
    padding: 40px 20px;
    width: 100%;
    text-align: center;
}


/* character & series templates*/

b i {
    font-size: 16px;
}

.pg-title {
    font-size: 38px;
    font-weight: bold;
}

/* series.html */

.image {
    float: left;
    width: 90%;
    height: auto;
}

.parent {
    display: flex;
}

.col-l {
    width: 30%;
    /*padding-top: 1%;*/
    margin-left: 2%;
}

.col-r {
    width: 70%;
    /*padding-top: 1%;*/
    margin-right: 13%
}

/* character.html */

#bio {
    white-space: pre-wrap;
    text-align: justify;
}

/* series.html */

#syn {
    white-space: pre-wrap;
}


/* For D3 */

/*
svg {

}
*/

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #fff;
    stroke-opacity: .6;
}

.axis {
    opacity: 0.5;
    font: 10px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.axis .domain {
    fill: none;
    stroke: #fff;
    stroke-opacity: .3;
    stroke-width: 4px;
    stroke-linecap: round;
}

.axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 3px;
    stroke-linecap: round;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: grab;
}


/* For 5* rating */

.stars {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
