<!DOCTYPE html>
<html>
<head>
  <title>The Hub</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/thehub.css">
{% block html_head %}
{% endblock %}
</head>
<body>

  <nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="background-color: #406aff">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> -->
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color: #0a0f27" href="/">THE HUB</a>
      <!-- Only renders on index right now, may have remove until debugged for demo -->
      <img src="/static/img/tiny_tardis.png">
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: #406aff">
      <ul class="nav navbar-nav" style="background-color: #406aff">
        <li><a class="navlink" id="connections" style="color: #0a0f27" href="/visualize">CONNECTIONS</a></li>
        <!-- Not sure that I actually need these? -->
        <!-- <li><a href="#">Characters</a></li>
        <li><a href="#">Series</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right" style="background-color: #406aff">
      {% if "user_id" in session %}
        <li><a class="navlink" style="color: #0a0f27" href='/users/{{ session["user_id"] }}'>Profile</a></li>
        <li><a class="navlink" style="color: #0a0f27" href='/users'>Users</a></li>
        <li><a class="navlink" style="color: #0a0f27" href='/logout'>Logout</a></li>
      {% else %}
        <li><a class="navlink" style="color: #0a0f27" href='/login'>Login</a></li>
        <li><a class="navlink" style="color: #0a0f27" href='/register'>Register</a></li>
      {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

<!-- <h1><a href='/'>The Hub</a></h1> -->

<!-- {% if "user_id" in session %}
    <a href='/logout'>Logout</a>
    <a href='/users'>Users</a>
{% else %}
    <a href='/login'>Login</a>
    <a href='/register'>Register</a>
{% endif %} -->

<!-- <a href='/visualize'><b><font size="5" color="firebrick">Connections</font></b></a> -->

<!-- <hr> -->

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>
</html>
