<!DOCTYPE html>
<html>
<head>
  <title>The Hub</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='the_hub.css') }}">
<!--   Example code w/ Steve 5/23, leaving here for now, messing things up otherwise--> 
  <script>
    {% block js_data %}
    {% endblock %}
  </script>
  <script src="/static/thehub.js"></script>
</head>
<body>

<!-- Needs Bootstrap navbar -->

<h1><a href='/'>The Hub</a></h1>

{% if "user_id" in session %}
    <a href='/logout'>Logout</a>
    <a href='/users'>Users</a>
{% else %}
    <a href='/login'>Login</a>
    <a href='/register'>Register</a>
{% endif %}
<a href='/visualize'><b><font size="5" color="firebrick">Connections</font></b></a>

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>
</html>
