{% extends 'base.html' %}
{% block content %}

<style type="text/css">

  #bio {
    white-space: pre-wrap;
  }

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

</style>


  <h3>{{ character.name }}</h3>
  <p>{{ character.image }}<p>
  <p><b>Portrayed by:</b> {{ character.actor }}</p>
  <p id="bio"><b>Character Summary:</b><br>{{ char_bio }}<p>


  <b>Has interactions with:</b><br>
  {% for c in relationships %}
    <a href="/character/{{ c.name }}">{{ c.name }}</a>
    <br>
  {% endfor %}

  <br>

  <b>Appears in:</b><br>
  {% for series in appearances %}
    <a href="/series/{{ series.name }}">{{ series.name }}</a>
    <br>
    {% endfor %}

    <br>

  {% if "user_id" in session %}
    <h4>Character Rating:</h4>
    {% if user_rating %}
      <p>You rated this character {{ user_rating.score }} out of 5</p>
    {% else %}
      <form action="/character/{{ character.name }}" method="POST">
          <select name="score">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        <input type="submit" value="Rate">
      </form>
    {% endif %}
  {% endif %}
  <p>{{ avg_rating }}</p>


<svg width="960" height="600"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var color = d3.scaleOrdinal(d3.schemeCategory20);
// look at different color palettes

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody())
    .force("center", d3.forceCenter(width / 2, height / 2));

d3.json("/characters.json", function(error, graph) {
  if (error) throw error;

  var link = svg.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      .attr("stroke-width", function(d) { return Math.sqrt(d.value); });  //could just give it an arbitrary number, skip function altogether
      // will remove this in order to use "value" to refer to chron_order

  var node = svg.append("g")
      .attr("class", "nodes")
    .selectAll("circle")
    .data(graph.nodes)
    .enter().append("circle")
      .attr("r", 5)   // radius
      .attr("fill", function(d) { return color(d.group); }) //change var color
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

  node.append("title")
      .text(function(d) { return d.id; }); // this is the text that appears on hover over node
  simulation
      .nodes(graph.nodes)
      .on("tick", ticked); // don't mess with this

  simulation.force("link")
      .links(graph.links);

  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  }
});

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

</script>

{% endblock %}
