<!--
Need to add ratings system to this
-->

{% extends 'base.html' %}
{% block content %}

  <h3>{{ character.name }}</h3>
  <p>{{ character.image }}<p>
  <p><b>Portrayed by:</b> {{ character.actor }}</p>
  <p><b>Character Summary:</b> {{ character.bio }}<p>


  <b>Has interactions with:</b><br>
  {% for c in relationships %}
    <a href="/character/{{ c.name }}">{{ c.name }}</a>
    <br>
  {% endfor %}

  <br>

  <b>Appears in:</b><br>
  {% for series in appearances %}
    <a href="/series/{{ series.name }}">{{ series.name }}</a>
    <br>
    {% endfor %}

{% endblock %}
