{% extends 'base.html' %}
{% block content %}

<style type="text/css">

  #bio {
    white-space: pre-wrap;
  }

</style>


  <h3>{{ character.name }}</h3>
  <p>{{ character.image }}<p>
  <p><b>Portrayed by:</b> {{ character.actor }}</p>
  <p id="bio"><b>Character Summary:</b><br>{{ char_bio }}<p>


  <b>Has interactions with:</b><br>
  {% for c in relationships %}
    <a href="/character/{{ c.name }}">{{ c.name }}</a>
    <br>
  {% endfor %}

  <br>

  <b>Appears in:</b><br>
  {% for series in appearances %}
    <a href="/series/{{ series.name }}">{{ series.name }}</a>
    <br>
    {% endfor %}

    <br>

  {% if "user_id" in session %}
    <h4>Character Rating:</h4>
    {% if user_rating %}
      <p>You rated this character {{ user_rating.score }} out of 5</p>
    {% else %}
      <form action="/character/{{ character.name }}" method="POST">
          <select name="score">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        <input type="submit" value="Rate">
      </form>
    {% endif %}
  {% endif %}
  <p>{{ avg_rating }}</p>

  <br>
  <hr>

{% endblock %}
