{% extends 'base.html' %}

{% block html_head %}

  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="static/js/thehub.js"></script>
  <script>
    window.onload = function() {
    init_d3();
    }
  </script>

<style>
  #wrapper {
  display: flex;
}
#left {
  flex: 0 0 30%;
}
#right {
  flex: 1;
}
</style>
  
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3" style="padding-left: 3%;">
        <h1 id="visualized">CHARACTER CONNECTIVITY<br>VISUALIZED</h1><br>
        <p class="readable">
          To watch how the Whoniverse characters connect with each other
          as the timeline of the story progresses, drag the slider down.<br><br>

          Color Coding:<br>
          Blue: Regenerations of The Doctor<br>
          Orange: Companions of the Doctor<br>
          Red: Torchwood Operatives<br>
          Green: Captain Jack Harkness (crossover character--Companion &amp; 
          head of Torchwood; described as "a fixed point in time &amp; space.")
        </p>
      </div>
      <div class="col-xs-9" id="graph">
      <div>
    </div>
  </div>

{% endblock %}
