{% extends 'base.html' %}

{% block html_head %}

  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="static/js/thehub.js"></script>
  <script>
    window.onload = function() {
    init_d3();
    }
  </script>

<style>
  #wrapper {
  display: flex;
}
#left {
  flex: 0 0 30%;
}
#right {
  flex: 1;
}
</style>
  
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3" style="padding-left: 3%; padding-top: 1%;">
        <h1 id="visualized">CHARACTER CONNECTIVITY<br>VISUALIZED</h1><br>
        <p class="readable">
          Hover over a node to display the character it represents.<br><br>
          To watch how the Whoniverse characters connect with each other
          as the timeline of the story progresses, drag the slider down.<br></p>

          <h3 style="line-height: 25px;">Color Coding:</h3>
          <p style="font-size: 16px; line-height: 21px;">
          <span style="color: #1f77b4">Blue </span>: Regenerations of The Doctor<br>
          <span style="color: #ff7f0e">Orange </span>: Companions of the Doctor<br>
          <span style="color: #d62728">Red </span>: Torchwood Operatives<br>
          <span style="color: #2ca02c">Green </span>: Captain Jack Harkness (crossover<br>
                                                      <span style="margin-left: 3.5em;">character--Companion &amp; head</span>
                                                      <span style="margin-left: 3.5em;">of Torchwood ; described as</span>
                                                      <span style="margin-left: 3.5em;">"a fixed point in time &amp; space.")</span>
        </p>
      </div>
      <div class="col-xs-9" id="graph">
      <div>
    </div>
  </div>

{% endblock %}
