<!--

TEST FILE, COPIED FROM THE FOLLOWING EXAMPLE:
https://bl.ocks.org/bricof/7364e456e61eff137d4c6cd435356e04

This file uses d3 version 3, while the working version (connections.html)
uses version 4. (That code comes from: https://bl.ocks.org/mbostock/4062045)
It's hard to consistently find stuff that's all for one version or the other.

Only change that has been made is to change line 148 from "miserables.json"
to "/characters.json" (which is the route for the project data, as well as
adjusting the .domain on line 99 to (0,16) which accounts for the number of
seasons in the timeline.

Not passing this through the base template for now, need to get it working
before I throw that wrench back into the mix.

The slider kind of works, but mostly not. It starts at 5, does nothing going
down to zero, also nothing until it reaches 16 at the top. Once all the nodes
come into frame there, they just hang out in a group, don't connect in any way,
and don't go away when the slider goes back down. The nodes can be dragged
around, but that's pretty much it.

At a loss. Been at this for almost a week with no progress to show for it.

There's another feature to add once this is actually working...highlighting.
But let's worry about one thing at a time.

There's another page here that might be useful (addresses both breaking links
with the slider, and highlighting):
http://www.coppelia.io/2014/07/an-a-to-z-of-extra-features-for-the-d3-force-layout/

Test route begins on line 310 of server.py (http://localhost:5000/test)

-->


<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.axis {
  opacity: 0.5;
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 4px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 3px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: grab;
}

</style>
<body>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>

var width = 960,
    height = 500;

var color = d3.scale.category10();

var force = d3.layout.force()
    .charge(-120)
    .linkDistance(30)
    .size([width, height]);

var x = d3.scale.linear()
    .domain([0, 16])
    .range([250, 80])
    .clamp(true);

var brush = d3.svg.brush()
    .y(x)
    .extent([0, 0]);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

var links_g = svg.append("g");

var nodes_g = svg.append("g");

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(" + (width - 20)  + ",0)")
    .call(d3.svg.axis()
      .scale(x)
      .orient("left")
      .tickFormat(function(d) { return d; })
      .tickSize(0)
      .tickPadding(12))
  .select(".domain")
  .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
    .attr("class", "halo");

var slider = svg.append("g")
    .attr("class", "slider")
    .call(brush);

slider.selectAll(".extent,.resize")
    .remove();

var handle = slider.append("circle")
    .attr("class", "handle")
    .attr("transform", "translate(" + (width - 20) + ",0)")
    .attr("r", 5);

svg.append("text")
    .attr("x", width - 15)
    .attr("y", 60)
    .attr("text-anchor", "end")
    .attr("font-size", "12px")
    .style("opacity", 0.5)
    .text("co-occurence threshold")

d3.json("/characters.json", function(error, graph) {
  if (error) throw error;
  
  graph.links.forEach(function(d,i){ d.i = i; });

  function brushed() {
    var value = brush.extent()[0];
  
    if (d3.event.sourceEvent) {
      value = x.invert(d3.mouse(this)[1]);
      brush.extent([value, value]);
    }
    handle.attr("cy", x(value));
    var threshold = value;
    
    var thresholded_links = graph.links.filter(function(d){ return (d.value > threshold);});
    
    force
        .links(thresholded_links);
     
    var link = links_g.selectAll(".link")
        .data(thresholded_links, function(d){ return d.i; });

    link.enter().append("line")
        .attr("class", "link")
        .style("stroke-width", function(d) { return Math.sqrt(d.value); });

    link.exit().remove();

    force.on("tick", function() {
      link.attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });
  
      node.attr("cx", function(d) { return d.x; })
          .attr("cy", function(d) { return d.y; });
    });

    force.start();

  }
    
  force
      .nodes(graph.nodes);

  var node = nodes_g.selectAll(".node")
      .data(graph.nodes)
    .enter().append("circle")
      .attr("class", "node")
      .attr("r", 5)
      .style("fill", function(d) { return color(d.group); })
      .call(force.drag);

  node.append("title")
      .text(function(d) { return d.name; });

  brush.on("brush", brushed);

  slider
    .call(brush.extent([5, 5]))
    .call(brush.event);

});

</script>
