<!DOCTYPE html>

<html>
  <body>

  <h3>Characters</h3>
  (imagine a pretty carousel...)

  <ul>
  {% for c in characters %}
    <li><a href="/character/{{ c.name }}">{{ c.name }}</a>,
    <a href="/character/{{ c.name }}">{{ c.image }}</a></li>
  {% endfor %}
  </ul>

  <h3>Series</h3>
  (imagine a pretty carousel...)

  <ul>
  {% for s in series %}
    <li><a href="/series/{{ s.name }}">{{ s.name }}</a>,
    <a href="/series/{{ s.name }}">{{ s.image }}</a></li>
  {% endfor %}
  </ul>



  </body>
</html>

<!--

Alright. So what needs to go on this page?

* Character names/img_url (will be in carousel eventually, list for now)
  (alphabetical? by character type?)
* Series names/img_url IN ORDER

-->

<!--

The above is what I need to get displayed on here today. (5/16)

Future items:

* Navbar
* Search
* Login/acct creation
*
*

-->