{% extends 'base.html' %}

{% block html_head %}
  <script src="static/lib/MultiCarousel.js"></script>
  <script src="static/js/thehub.js"></script>
{% endblock %}

{% block content %}

<h1 class="headings">CHARACTERS</h1><br>

<div class="carousel">
  <carousel id="characterCarousel" style="display: none">
    {% for c in characters %}
      <div class="relative">
        <item><a href="/character/{{ c.name }}"><img class="car-item" src="../{{ c.image }}"></a>
        <p class="absolute-text">{{ c.name }}</p></item>
      </div>
    {% endfor %}
  </carousel>
</div>

<br>

<h1 class="headings">SERIES</h1><br>

<div class="carousel">
  <carousel id="seriesCarousel" style="display: none">
    {% for s in series %}
      <item><a href="/series/{{ s.name }}"><img class="car-item" src="../{{ s.image }}"></a></item>
    {% endfor %}
  </carousel>
</div>

<script>
  window.onload = function() {
  setupCarousel("characterCarousel");
  setupCarousel("seriesCarousel");
  }
</script>

{% endblock %}
