<div>
    <h1>Provide your credentials to enter The Hub:</h1>
    <form action="/login" method="POST">

        <div class="form-group">
            <label>Email:
                <input type="email" name="email" required class="form-control">
            </label>
        </div>

        <br>

        <div class="form-group">
            <label>Password:
                <input type="password" name="password" required class="form-control">
            </label>
        </div>

        <br>

        <div class="form-group">
            <input type="submit" value="Allons-y!">
        </div>

    </form>
</div>